@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

nav {
    background-color: #FEFFED;
    position: fixed;
    width: 100%;
    top: 0;
}

ul {
    list-style: none;
}

li {
    float: left;
}

li:nth-last-child(2),
li:last-child {
    float: right;
}

li span,
li .sign-out:visited,
li .sign-out:active,
li a,
li a:visited,
li a:active {
    padding: 0.7em;
    display: block;
    text-decoration: none;
    color: #000;
}

.sign-out {
    display: none;
}

li .sign-out:hover,
li a:hover {
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    cursor: pointer;
}

h2{
    background-color: #FEFFED;
    padding: 30px 35px;
    margin: -10px -50px;
    text-align:center;
    border-radius: 10px 10px 0 0;
}

div.container{
    width: 900px;
    height: 610px;
    margin:35px auto;
}
div.login-form,
div.news-feed {
    width: 300px;
    padding: 10px 50px 25px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    float:left;
    margin-top:50px;
}

div.news-feed {
    display: none;
}

input[type=text],input[type=password]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
}
label{
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}

input[type=button]{
font-size: 16px;
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 1px solid #e5a900;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
width: 100%;
border-radius: 5px;
padding: 10px 0;
outline:none;
}
input[type=button]:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}